<article>
  <h1 class="shaded"><%= @page_title = t('events.index.title') %></h1>

  <div id="index">
    <%= render "index" %>
  </div>

  <br/>

  <%= link_to(t('events.new.link'), [:new, :event], class: 'btn btn-new') %>
</article>
